{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
    h1 {
        color: #333;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .col-md-4 {
        max-width: 400px;
        width: 100%;
    }

    p {
        text-align: center;
        margin-top: 20px;
    }

    a {
        color: #007bff;
    }
</style>

<h1>Sign In</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
<p>Not a member? <a href="{{ url_for('auth.register') }}">Register Today!</a></p>
{% endblock %}
