{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
    h1 {
        color: #333;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .col-md-4 {
        max-width: 400px;
        width: 100%;
    }
</style>

<h1>Register</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
